apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: elastic-stack
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log

    output.logstash:
      hosts: ["logstash.elastic-stack.svc:5044"]

    setup.ilm.enabled: false
